.group_link{
    text-align: center;
    cursor: pointer;
    font-size: 0;
}
.group_link a {
    color: black;
}
.single_link {
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding: 1%;
    background-color: white;
    border-bottom:2px #0f0f0f solid;
}
.single_link:hover {
    font-weight: bolder;
    border-color: #f56821;
}
.group_link a:link { 
    text-decoration: none; 
    color:#202425;  
}
.phone{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
.speaker{
    border: 2px black solid;
    width: 30%;
    height: 1%;
    border-radius: 20px;
    background-color: #0f0f0f;
}
.speaker_width{
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.screen{
    width: 90%;
    height:96%;
    border: 2px black solid;
    background-color: aliceblue;
}
.wallpaper{
height: 100%;
width: 100%;
}
.screen_width{
    margin-top: 2%;
    width: 100%;
    height:45%;
    display: flex;
    justify-content: center;
}
.keypad_row{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
}
.key{
    width: 31%;
    border: 1px black solid;
    border-radius: 5px;
    margin-top: 2%;
    height: 25px;
}
.key_clear{
    width:100%;
    display: block;
    border: 1px black solid;
    border-radius: 5px;
    height: fit-content;
}
.key_nav{
    width: 31%;
    border: 1px black solid;
    border-radius: 5px;
    height: fit-content;
}
.key_nav:active{
    box-shadow: 0 2px 0 #006599;
        transform: translateY(3px);
}
.key_side:active{
    box-shadow: 0 2px 0 #006599;
        transform: translateY(3px);
}
.key_side{
    
    width: 30%;
}
.keypad_control{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2%;
    align-items: center;
}
.basic_phone{
    height: 380px;
    width: 200px;
    border: 2px black solid;
    border-radius: 20px;
}
.keypad{
    border: 2px black solid;
    width: 95%;
    border-radius: 10px;
    padding: 2% 0%;
    background-color: #0f0f0f;
}
.keypad_width{
    width: 100%;
    display: flex;
    justify-content: center;
}
p{
    color: antiquewhite;
    text-align: center;
    font-weight: bolder;
    margin: 0;
}
.basic_phone{
    background-color: #f56821;
    box-shadow:  5px 5px rgb(104, 103, 103);
}
.key:active{
        box-shadow: 0 2px 0 #006599;
        transform: translateY(3px);
}
.display_property{
    width: 90%;
    height:96%;
    border: 2px black solid;
    background-color: aliceblue;
    background-color: black;
}
.text_display{
    height: 97%;
    width: 97%;
    border: none;
    font-size: large;
}
.redmi{
        height: 380px;
        width: 200px;
        border: 2px black solid;
        border-radius: 20px;
        background-color: aqua;
        box-shadow:  5px 5px rgb(74, 128, 128);
}
.notch{
    height:20px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.camera{
    height:5px;
    width:5px;
    border: 2px black solid;
    border-radius: 20px;
    background-color: #0f0f0f;
}
.speaker{
    height:3px;
    width: 25%;
}
.outerlayer_redmi{
    height: 320px;
        width: 180px;
        border: 2px black solid;
        background-color: aliceblue;
        position: relative;
}
.outerlayer_new_redmi{
    height: 320px;
        width: 180px;
        border: 2px black solid;
        background-color: aliceblue;
        position: relative;
}
.camera_layer{
    height: 320px;
        width: 180px;
        border: 2px black solid;
        background-color: aliceblue;
        position: relative;
}
.camera_app_image{
    width: 100%;
    height: 320px;
}
.message_layer{
    height: 320px;
        width: 180px;
        border: 2px black solid;
        background-color: aliceblue;
        position: relative;
}
.message_app_image{
    width: 100%;
    height: 320px;
}
.oneplus_image{
    width: 100%;
    height: 320px;
}
.outerlayer_width_redmi{
    display: flex;
    justify-content: center;
}
.bottom_button_redmi{
    width: 100%;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cache_redmi{
    height: 20px;
}
.home_redmi{
    height: 20px;
}
.phone_icon_android{
    position:absolute;
    bottom: 10px;
    left: 10px;
    font-size:20px;
}
.camera_icon_android{
    position:absolute;
    bottom: 10px;
    left: 75px;
    font-size:x-large;
}
.message_icon_android{
    position:absolute;
    bottom: 8px;
    left: 145px;
    font-size:x-large;
}
.button_android{
    width: 33%;
    border: none;
    height: 25px;
    margin:0;
    vertical-align: top;
}
.dialscreen_android{
    height: 69%;
    width:100%;
}
.dialpad_android{
    height:30%;
    width:100%;
    text-align: center;
    position: relative;
}
.positioning_div{
    position: absolute;
    bottom: 0;
    right: 0;
    left:0;
}
.buttonimage_android{
    width:33%;
    height:25px;
    background-color: #F0F0F0;
}
.buttoncallimage_android{
    width:33%;
    height:25px;
    background-color: #F0F0F0;
}

.applephone{
        height: 380px;
        width: 200px;
        border: 2px black solid;
        border-radius: 20px;
        background-color: white;

        box-shadow:  5px 5px rgb(199, 99, 99);
}
.bottom_button_apple{
    width: 100%;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.notch_apple{
    height:20px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.speaker_apple{
    border: 2px black solid;
    width: 20%;
    height: 1%;
    border-radius: 20px;
    background-color: white;
}
.home_apple{
    height: 20px;
    border: 2px rgb(0, 0, 0) solid;
    width: 15%;
    border-radius: 45%;
    background-color: white;
}
.phone_icon_apple{
    position:absolute;
    bottom: 10px;
    left: 10px;
}
.safari_icon_apple{
    position:absolute;
    bottom: 10px;
    left: 75px;
}
.appstore_icon_apple{
    position:absolute;
    bottom: 8px;
    right: 0px;
}
.gallery_icon_apple{
    position:absolute;
    bottom: 60px;
    left: 10px;
}
.camera_icon_apple{
    position:absolute;
    bottom: 60px;
    left: 75px;
}
.message_icon_apple{
    position:absolute;
    bottom: 60px;
    right: 0px;
}
.outerlayer_width_apple{
    display: flex;
    justify-content: center;
}
.outerlayer_apple{
    height: 320px;
        width: 180px;
        border: 2px black solid;
        background-color: aliceblue;
        position: relative;
}
.apple_image{
    width: 100%;
    height: 320px;
}

.androidtab_width{
    height: 300px;
    width: 480px;
    border: 2px black solid;
    border-radius: 20px;
    background-color: white;
    box-shadow:  5px 5px rgb(199, 99, 99);
}

.androidtab_width{
    height: 300px;
    width: 480px;
    border: 2px black solid;
    border-radius: 20px;
    background-color: black;
    box-shadow:  5px 5px rgb(181, 131, 131);
    display: flex;
    justify-content: center;
    align-items: center;
}
.outerlayer_width_androidtab{
    height: 280px;
    width: 450px;
    border: 2px black solid;
    background-color: white;
}
.outerlayer_new_width_androidtab{
    height: 100%;
        width: 100%;
        border: 2px black solid;
        background-color: aliceblue;
}
.outerlayer_androidtab{
    width: 100%;
    height: 100%;
    position: relative;
}
.wallpaper_androidtab{
    width: 100%;
    height: 100%;
}
.phone_icon_androidtab{
    position:absolute;
    bottom: 10px;
    left: 120px;
    font-size:20px;
}
.camera_icon_androidtab{
    position:absolute;
    bottom: 10px;
    left: 200px;
    font-size:x-large;
}
.message_icon_androidtab{
    position:absolute;
    bottom: 8px;
    left: 280px;
    font-size:x-large;
}
.camera_layer-androidtab{
    height: 280px;
    width: 450px;
        border: 2px black solid;
        background-color: aliceblue;
        position: relative;
}
.camera_app_image_androidtab{
    width: 100%;
    height: 280px;
}
.message_layer_androidtab{
    height: 280px;
        width: 450px;
        border: 2px black solid;
        background-color: aliceblue;
        position: relative;
}
.message_app_image_androidtab{
    width: 100%;
    height: 280px;
}